.unavailable-time,
.time-on-agenda {
  min-height: 50px;
  height: 100px;
  max-height: 250px;
}

.settings-font {
  font-size: 18px;
  font-weight: 600;
}

.time-on-agenda {
  max-height: 350px;
}

.settings-buttons {
  max-width: 100px;
}

.img-svg{
  width: 20px;
  height: 20px;
}
