nav {
  position: absolute;
  bottom: 0;
  left: 0;
  height: calc(100% - 130px);
  width: 70px;
  background-color: darkgray;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo {
  transition: all 05.s ease;
  margin-top: 15px;
  cursor: pointer;
  outline: none;
  max-width: 100%;
}

.logo img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

ul {
  padding: 0;
}

a {
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: flex;
  align-items: center;
  width: 300px;
  padding: 10px;
}

a:hover {
  background-color: #eee;
}

nav:hover {
  width: 280px;
  transition: all 0.5s ease;
}

.nav-item {
  max-width: 200px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  word-break: break-word;
}

.logos-imgs {
  width: 35px;
  height: 35px;
  margin: 0 10px 0 5px;
}
